page-setting {

}
.login_out{
    width: 50%;
    display: block;
    margin: 0 auto;
}
.my_setting button{
    width: 100%;
}
.my_setting ion-toggle button{
    border: none;
}
.setting_list .item{
    padding-left: 0; 
}
.setting_list div{
    padding-left: 8px; 
}