page-about {

}
.pub_title{
    text-align: center;
}
.back-button-icon{
    color: #222;
}
.pub_type{
    background: rgb(249, 249, 249);
}

.pub_type button{
    margin: 0.5rem;
    width: 30%;
    height: 10rem;
    float: left;
    // background: #fff;
}
.pub_type img{
    width: 3rem;
}
.pub_type p{
    margin-bottom: 0;
}