<div class="thelist">
  <h2>进行中...</h2>
  <ul>
    <li *ngFor="let item of tolist;let idx = index;">
      <input type="checkbox" id="check" (change)="change(idx)">{{item}}<input type="button" id="del" (click)="delData(idx)" value="删除">
    </li>
  </ul>

  <h2>已完成！</h2>
  <ul>
      <li *ngFor="let item of comlist;let idx = index;">
      <input type="checkbox" id="check" checked="checked" (change)="change2(idx)">{{item}}<input type="button" id="del" (click)="delData2(idx)" value="删除">
    </li>
  </ul>
</div>